<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <h1>
    {{ title }}
  </h1>
  <div class="background-image">
    <div class="overlay">
      <p>
        Enter your zip code to see a restaurant near your location!
      </p>
      <div class="search-bar">
        <app-search></app-search>
        <app-dropdown></app-dropdown>
        <app-submit [restaurant]="restaurant"></app-submit>
      </div>
    </div>
  </div>
  <app-restaurant #restaurant></app-restaurant>
</div>
